.logo {
    width: 35px;

}
.background-color {
    background-color: rgb(255, 240, 240);
}
.main {
    
    border-radius: 5px;
    object-fit: cover;
    border: 5px;
    border-style: solid;
    border-color: sienna;
    width: 75%;
}
.head {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
.title {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: sienna;
}
.pi {
    display: flex;
    box-align: center;
    flex-wrap: wrap;
}
.timg{
    height: 50px;
}
.sign {
    display: flex;
    justify-content: center;
}
.carousel-item {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.slide {
    width: 1400px;
}
h1 {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: sienna;
    font-weight: bold;
}
