.logo {
    width: 35px;

}
.background-color {
    background-color: rgb(255, 240, 240);
}
.main {
    
    border-radius: 5px;
    object-fit: cover;
    border: 5px;
    border-style: solid;
    border-color: sienna;
    width: 75%;
}
.head {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
.title {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.pi {
    display: flex;
    box-align: center;
    flex-wrap: wrap;
}
.timg{
    height: 50px;
}
.sign {
    display: flex;
    justify-content: center;
}